@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.PersonelID)

    <label><b>PERSONEL ADI:</b></label>
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    <label><b>SOYADI:</b></label>
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    <label><b>ADRES:</b></label>
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    <br />
    <label><b>TELEFON NUMARASI:</b></label>
    <input type="tel" class="form-control" name="Telefon" value="@ViewBag.tel" />
    <br />
    <label><b>PERSONEL GÖRSELİ:</b></label>
    <input type="file" name="Personel Görsel" class="form-control" />
    <br />
    <label><b>DEPARTMAN:</b></label>
    @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.dprt, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning"  style="float:right; width:250px; height:45px">Değişiklikleri Kaydet</button>
}


